body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./desig.png');
    background-color: #2a2c36; /* Slightly lighter background */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto; /* Add margin to center the container vertically */
    background-color: rgba(51, 55, 66, 0.5); /* Semi-transparent container background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-box {
    flex: 1;
    padding: 2rem;
    background-color: rgba(58, 61, 79, 0.5); /* Semi-transparent background */
    margin: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-box h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgba(72, 75, 92, 0.7); /* Slightly less transparent input background */
    border: none;
    border-radius: 4px;
    color: #fff;
}

input::placeholder {
    color: #777;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

button {
    padding: 0.75rem;
    background-color: #ffae42;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.signup {
    text-align: center;
    margin-top: 1.5rem;
}

.signup p {
    margin-bottom: 0.5rem;
}

.social-buttons button {
    padding: 0.5rem;
    background-color: #444;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}
